@import 'Variables';
@import 'MediaQueries';

.about-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section-1,
.about-section-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  @include x-large {
    width: 85%;
  }
  @include large {
    width: 80%;
  }
  @include medium {
    width: 85%;
  }
  @include small {
    width: 80%;
  }
  @include x-small {
    width: 75%;
  }
}

.img-campfire-banner {
  display: table-cell;
  max-width: 705px;
  max-height: 216px;
  width: 100%;
  height: auto;
  padding-bottom: 2em;
  margin: 0 auto;
}

.about-section-1 {
  margin-top: 1em;
}

.about-heading {
  font-weight: 700;
  font-style: italic;
  font-family: $heading-font;
  color: $darkblue;
}
