@import 'Variables';
@import 'MediaQueries';
/*tab styles*/

.admin-container {
  width: 90%;
}

.admin-title {
  color: $darkblue;
  padding: 15px 0;
  margin-top: 0;
}

.add-user {
  margin-top: 20px;
  @include x-large {
    text-align: left;
  }
  @include large {
    text-align: left;
  }
}

.add-story {
  margin-top: 20px;
  @include x-large {
    text-align: right;
  }
  @include large {
    text-align: right;
  }
}

.add-user,
.add-story {
  margin-bottom: 50px;
  font-size: 1.2em;
  @include small {
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
  }
}

.tab-pane .row .col-md-4 {
  padding-bottom: 15px;
}

#tabs .nav-tabs li > a {
  border: none;
  border-bottom: 2px solid rgb(184, 186, 194);
  color: $darkblue!important;
  transition: color 0.3s ease-out;
}

#tabs .nav-tabs li > a:hover,
#tabs .nav-tabs li > a:focus {
  border: none;
  border-bottom: 2px solid $green;
  color: $green;
  background: transparent;
}

#tabs .nav-tabs .active a {
  border: none;
  border-bottom: 2px solid $green;
  color: $green;
}

#tabs .nav-tabs .active a:focus,
#tabs .nav-tabs .active a:hover {
  border: none;
  border-bottom: 2px solid $green;
  color: $green;
  cursor: pointer;
  background: $bg-white;
}

.user-list {
  box-shadow: $box-shadow;
  margin-bottom: 30px;
}

.user-list h4 {
  color: $darkblue;
  margin: 15px;
}
/*end of tab styles*/
