@import 'Variables';
@import 'MediaQueries';
/*form styles*/

.content-page {
  width: 800px;
  margin: 0 auto;
  .form-group {
    padding-bottom: 15px;
  }
  @include x-large {
    width: 900px;
  }
  @include large {
    width: 80%;
  }
  @include medium {
    width: 90%;
  }
}

.create-story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.create-story-heading {
  font-weight: 700;
  font-style: italic;
  font-family: $heading-font;
  color: $darkblue;
}

.control-label {
  font-size: 1em;
  padding-bottom: 15px;
  color: $darkblue;
}

.form-control {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-color: rgb(184, 186, 194);
  font-size: 14px;
  @include x-large {
    height: 50px;
  }
  @include large {
    height: 50px;
  }
}

.form-control:focus {
  box-shadow: 0px 0px 30px -5px rgba(184, 186, 194, 0.75);
  border-color: $bg-white;
}

#admin-btn {
  margin-left: 18px;
}

.text-danger {
  margin-left: 6px;
  margin-top: 6px;
  color: $danger;
  font-size: 12px;
}

/*end of form styles*/
