@import 'Variables';

/*declaring basic style*/
html{
  height: 100%;
}

body {
  font-family: $content-font;
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font;
}

h1 {
  font-size: 3.142em;
}

h2 {
  font-size: 1.942em;
}

.h2 {
  font-family: $heading-font;
  padding-bottom: 30px;
  margin-top: 0;
  color: $darkblue;
}

p {
  line-height: 1.7;
  padding-bottom: 40px;
}

/*end of declaring basic style*/

/*helper classes*/

.bg-white {
  background: $bg-white;
}

.bg-blue {
  background: $darkblue;
  color: $bg-white;
}

.bg-pale-blue {
  background: $bg-pale-blue;
}

.no-padding-picture {
  padding: 0;
  margin: 0;
}

.img-responsive {
  width: 100%;
}

/*end of helper classes*/

/*offset for fixed nav and hero section post etc*/

.page-padding {
  /*to fix fixed top style of navbar*/
  padding-top: 7em;
  padding-bottom: 3em;
}

.padding-top {
  padding-top: 60px;
}

.padding-bottom {
  padding-bottom: 60px;
}

/*end of offset for fixed nav and hero section*/
.bottom-space {
  margin-bottom: 70px;
}

.size {
  font-size: 20em;
}

.horizontal-rule {
  width: 550px;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: $earthygrey;
  align-self: center;
}

.table {
  display:table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.cell-child {
  display: inline-block;
}

.icon-left {
  margin-right: 10px;
}

.icon-right {
  margin-left: 10px;
}
