@import 'Variables';
@import 'MediaQueries';

.hero-masonry-container {
  margin-top: -75px;
  @include x-large {
    margin-top: -35px;
  }
  @include small {
    margin-top: -115px;
  }
  @include ipad-pro-portrait {
    margin-top: -30px;
  }
}

#hero-content {
  position: absolute;
  z-index: 1;
  height: inherit;
  height: 99vh;
  color: $green;
  @include x-large {
    height: 96vh;
  }
  @include large {
    height: 100%;
  }
  @include ipad-pro-portrait {
    height: 103vh;
  }
}

#hero-content-centered {
  color: $bg-white;
  vertical-align: initial;
  /* overrides a bootstrap style on .table-cell */
  @include ipad-pro-portrait {
    vertical-align: initial;
  }
}

.hero-content-group {
  display: inline-block;
  @include x-large {
    margin: 25vh 0;
  }
  @include medium {
    margin: 8vh 0;
    width: 80%;
  }
  @include small {
    margin-top: 5em;
    margin-bottom: 0;
  }
  @include ipad-pro-portrait {
    margin: 8vh 0;
  }
}

.hero-headline {
  font-family: $heading-font;
  font-weight: 700;
  font-size: 4.25em;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px 2px #2E2B2B;
  color: $green;
  letter-spacing: 1px;
  max-width: 800px;
  @include medium {
    margin: 0 auto;
    width: 80%;
    font-size: 3.1em;
  }
  @include small {
    margin: 0 auto;
    width: 80%;
    font-size: 2em;
  }
  @include x-small {
    margin: 0 auto;
    width: 80%;
    font-size: 1.6em;
  }
}

.hero-copy {
  font-family: $content-font;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  padding: 1em 20%;
  max-width: 800px;
  @include small {
    font-size: .7em;
  }
  @include medium {
    padding: 1em 10%;
  }
  @include large {
    padding: 1em 10%;
  }
}

/*Making full page carousel*/
.carousel {
  height: 100%;
  position: relative;
  margin-bottom: 2em;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
  @include large {
    height: 103vh;
  }
  @include medium {
    height: inherit;
  }
  @include ipad-pro-portrait {
    height: 42vh;
  }
}

.carousel a {
  margin-top: 0;
  z-index: 100;
  @include x-large {
    margin-top: 8px;
  }
  @include large {
    margin-top: inherit;
  }
  @include ipad-pro-portrait {
    margin-top: inherit;
    height: 42vh;
  }
}

.carousel a > span {  
  @include ipad-pro-portrait {
    margin: 100px auto;
    top: 69%;
  }
}

.carousel-image {
  filter: brightness(0.5);
  background-color: rgba(255,255,255,.2);
}

.carousel-inner {
  overflow: hidden;
}

.carousel-inner .item img {
  width: 100%;
  @include max-aspect-ratio {    
    object-fit: scale-down;
    object-position: 0 0;
  }
  @include ipad-pro-portrait { 
    object-fit: scale-down;
    object-position: 0 0;
  }
}

/*end of full page carousel*/

#explore-stories {
  font-size: 3.142em;
  color: $bg-white;
  position: absolute;
  top: 85%;
  left: 0;
  z-index: 1;
  transition: transform 0.3s ease-out;
}

#explore-stories:hover {
  transform: translateY(10px);
}

/*end of hero content styling*/


/*button styles*/

.cs-btn-blue {
  border-radius: 0;
  padding: 12px;
  background: $darkblue;
  color: $green;
  border: 2px solid $darkblue;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}

.cs-btn-blue:hover,
.cs-btn-blue:focus {
  background: $green;
  color: #4E5166;
  border: 2px solid $green;
}

.cs-btn-blue-outline {
  border-radius: 0;
  padding: 12px;
  background: transparent;
  color: $darkblue;
  border: 2px solid $darkblue;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}

.cs-btn-blue-outline:hover,
.cs-btn-blue-outline:focus {
  background: $darkblue;
  color: $green;
  border: 2px solid $darkblue;
}

.cs-btn-green {
  border-radius: 0;
  padding: 12px;
  background: $green;
  color: $darkblue;
  border: 2px solid $green;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}

.cs-btn-green:hover,
.cs-btn-green:focus {
  background: $darkblue;
  color: $green;
  border: 2px solid $darkblue;
}

.cs-btn-green-outline {
  border-radius: 0;
  padding: 12px;
  background: transparent;
  color: $bg-white;
  border: 2px solid $bg-white;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}

.cs-btn-green-outline:hover,
.cs-btn-green-outline:focus {
  background: $green;
  color: $darkblue;
  border: 2px solid $green;
}

.cs-btn-green-inverted {
  border-radius: 0;
  padding: 12px;
  background: $bg-white;
  color: $darkblue;
  border: 2px solid $bg-white;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}

.cs-btn-green-inverted:hover,
.cs-btn-green-inverted:focus {
  background: $green;
  color: $darkblue;
  border: 2px solid $green;
}

/*end of button styles*/
