@import 'Variables';
@import 'MediaQueries';

//masonry container
.grid {
  background-image: url('/img/crossword.png')
}

.grid-item,
.grid-item-1 {
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 2px;
}

.grid-item a {
  text-decoration: none;
}

 /**
  *the padding and margin here offset the anchor
  * to adjust for the fixed header
  * but leave the actual element in its desired place
  **/
#cs-stories {
  width: 100%;
  padding-top: 70px;
  margin-top: -70px;
}

.thumbnail {
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: $box-shadow;
}

.thumbnail>img {
  width: 100%;
  max-height: 1000px;
  max-height: 100vh;
  display: block;
}

.thumbnail .card-title {
  border-bottom: solid 1px #eee;
}

.no-border-bottom .card-title {
  border-bottom: 0 !important;
}

.thumbnail h3 {
  color: $green;
}

.thumbnail h3 {
  margin: 0;
  padding: 10px 10px;
}

.thumbnail h4 {
  color: $green;
}

.thumbnail h4 {
  margin: 0;
  padding: 10px 10px;
}

.card-description {
  margin: 0;
  padding: 10px 10px;
  font-size: 0.9em;
  line-height: 1.5;
}

.caption .cs-btn-green {
  margin: 10px 10px;
}

.thumbnail p {
  padding-top: 10px;
}

.card-title .card-info {
  font-size: 0.65em;
  line-height: 1.35;
  padding: 0px 10px 10px 10px;
  margin-bottom: 5px;
}

.card-title .status {
  font-size: 0.65em;
  line-height: 1.35;
  padding: 0px 10px 10px 10px;
}

.card-title .status .published {
  color: $green !important;
}

.card-buttons {
  color: $green;
  transition: all 0.3s ease-out;
}

.card-buttons:hover,
.card-buttons:focus {
  color: $darkblue;
}

.glyphicon-trash,
.glyphicon-collapse-down {
  padding-left: 12px;
}

.glyphicon-trash {
  color: $danger;
}

.glyphicon-collapse-down {
  color: orange;
}

/*bootstrap override*/
@media (min-width: 992px) {
  .col-md-4 {
    width: 30%;
    margin: 1.2em 1.2em;
  }
}
/*end of card styles*/
