@charset "UTF-8";
/* Colors */
/* Font */
/* Effects */
/* medium - iPads and other similar tablets */
/* large - iPad Pro Portrait */
/* xlarge - iPad Pro Landscape */
.about-row {
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-section-1,
.about-section-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%; }
  @media only screen and (max-width: 64em) {
    .about-section-1,
    .about-section-2 {
      width: 80%; } }
  @media only screen and (max-width: 48em) {
    .about-section-1,
    .about-section-2 {
      width: 85%; } }
  @media only screen and (max-width: 30em) {
    .about-section-1,
    .about-section-2 {
      width: 80%; } }
  @media only screen and (max-width: 22em) {
    .about-section-1,
    .about-section-2 {
      width: 75%; } }

.img-campfire-banner {
  display: table-cell;
  max-width: 705px;
  max-height: 216px;
  width: 100%;
  height: auto;
  padding-bottom: 2em;
  margin: 0 auto; }

.about-section-1 {
  margin-top: 1em; }

.about-heading {
  font-weight: 700;
  font-style: italic;
  font-family: "-apple-system", BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  color: #4E5166; }
