/* Colors */
/* Font */
/* Effects */
/* medium - iPads and other similar tablets */
/* large - iPad Pro Portrait */
/* xlarge - iPad Pro Landscape */
.account-page-container {
  width: 90%; }

.write-button-text {
  font-weight: 700;
  font-style: italic;
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 10px; }
  @media only screen and (min-width: 22em) and (max-width: 30em) {
    .write-button-text {
      font-size: 1em; } }
