/*tab styles*/
.tab-content {
  padding-top: 30px; }

h4 {
  color: #4e5166;
  padding: 15px 0;
  margin-top: 0; }

.tab-pane .row .col-md-4 {
  padding-bottom: 15px; }

#tabs .nav-tabs li > a {
  border: none;
  border-bottom: 2px solid #b8bac2;
  color: #4e5166 !important;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }

#tabs .nav-tabs li > a:hover,
#tabs .nav-tabs li > a:focus {
  border: none;
  border-bottom: 2px solid #7be5a0;
  color: #7be5a0;
  background: transparent; }

#tabs .nav-tabs .active a {
  border: none;
  border-bottom: 2px solid #7be5a0;
  color: #7be5a0; }

#tabs .nav-tabs .active a:focus,
#tabs .nav-tabs .active a:hover {
  border: none;
  border-bottom: 2px solid #7be5a0;
  color: #7be5a0;
  cursor: pointer;
  background: #fff; }

.user-list {
  box-shadow: 0px 0px 30px -5px rgba(184, 186, 194, 0.75);
  margin-bottom: 30px; }

.user-list h4 {
  color: #4e5166;
  margin: 15px; }

.big {
  font-size: 2em; }

/*end of tab styles*/
