/* Colors */
/* Font */
/*form styles*/
.control-label {
  font-size: 100%;
  padding-bottom: 15px;
  color: #4E5166; }

.form-control {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-color: #b8bac2;
  font-size: 14px; }

.form-control:focus {
  box-shadow: 0px 0px 30px -5px rgba(184, 186, 194, 0.75);
  border-color: #FFFFFF; }

.admin-btn {
  margin-left: 18px; }

.text-danger {
  margin-left: 6px;
  margin-top: 6px;
  color: #FF1654;
  font-size: 12px; }

.content-page .form-group {
  padding-bottom: 15px; }

/*end of form styles*/
