/* Colors */
/* Font */
/* Effects */
/* medium - iPads and other similar tablets */
/* large - iPad Pro Portrait */
/* xlarge - iPad Pro Landscape */
.hero-top {
  margin-top: -75px; }
  @media only screen and (max-width: 64em) {
    .hero-top {
      margin-top: -170px; } }
  @media only screen and (max-width: 30em) {
    .hero-top {
      margin-top: -115px; } }

#hero-content {
  position: absolute;
  z-index: 1;
  height: inherit;
  height: 99vh;
  color: #7BE5A0; }
  @media only screen and (max-width: 48em) {
    #hero-content {
      position: relative;
      background-color: #4E5166; } }
  @media only screen and (max-width: 64em) {
    #hero-content {
      height: 105vh; } }

#hero-content-centered {
  color: #FFFFFF; }

.hero-content-group {
  display: inline-block; }

.hero-headline {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 4.25em;
  font-style: italic;
  text-shadow: 2px 2px 2px #2E2B2B;
  color: #7BE5A0;
  letter-spacing: 1px;
  max-width: 800px; }
  @media only screen and (max-width: 30em) {
    .hero-headline {
      font-size: 2.25em; } }
  @media only screen and (max-width: 22em) {
    .hero-headline {
      font-size: 2em; } }

.hero-copy {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  padding: 1em 20%;
  max-width: 800px; }
  @media only screen and (max-width: 30em) {
    .hero-copy {
      font-size: .7em; } }
  @media only screen and (max-width: 48em) {
    .hero-copy {
      padding: 1em 10%; } }
  @media only screen and (max-width: 64em) {
    .hero-copy {
      padding: 1em 10%; } }

/*Making full page carousel*/
.carousel {
  height: 99vh;
  position: relative;
  margin-bottom: 2em;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 48em) {
    .carousel {
      display: none; } }
  @media only screen and (max-width: 64em) {
    .carousel {
      height: 89vh; } }
  @media only screen and (max-width: 86em) {
    .carousel {
      height: 89vh; } }

.carousel a {
  z-index: 100; }

.carousel-image {
  filter: brightness(0.5);
  background-color: rgba(255, 255, 255, 0.2); }

.carousel-inner {
  overflow: hidden; }

.carousel-inner .item img {
  width: 100%;
  height: 99vh; }
  @media only screen and (min-width: 78em) {
    .carousel-inner .item img {
      height: 89vh; } }
  @media only screen and (max-width: 64em) {
    .carousel-inner .item img {
      height: 89vh; } }
  @media (max-aspect-ratio: 1 / 1) {
    .carousel-inner .item img {
      width: 100%;
      object-fit: none;
      object-position: center; } }

/*end of full page carousel*/
#explore-stories {
  font-size: 3.142em;
  color: #FFFFFF;
  position: absolute;
  top: 85%;
  left: 0;
  z-index: 1;
  transition: transform 0.3s ease-out; }

#explore-stories:hover {
  transform: translateY(10px); }

/*end of hero content styling*/
/*button styles*/
.cs-btn-blue {
  border-radius: 0;
  padding: 12px;
  background: #4E5166;
  color: #7BE5A0;
  border: 2px solid #4E5166;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-blue:hover,
.cs-btn-blue:focus {
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0; }

.cs-btn-blue-outline {
  border-radius: 0;
  padding: 12px;
  background: transparent;
  color: #4E5166;
  border: 2px solid #4E5166;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-blue-outline:hover,
.cs-btn-blue-outline:focus {
  background: #4E5166;
  color: #7BE5A0;
  border: 2px solid #4E5166; }

.cs-btn-green {
  border-radius: 0;
  padding: 12px;
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-green:hover,
.cs-btn-green:focus {
  background: #4E5166;
  color: #7BE5A0;
  border: 2px solid #4E5166; }

.cs-btn-green-outline {
  border-radius: 0;
  padding: 12px;
  background: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-green-outline:hover,
.cs-btn-green-outline:focus {
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0; }

.cs-btn-green-inverted {
  border-radius: 0;
  padding: 12px;
  background: #FFFFFF;
  color: #4E5166;
  border: 2px solid #FFFFFF;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-green-inverted:hover,
.cs-btn-green-inverted:focus {
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0; }

/*end of button styles*/
