/* Colors */
/* Font */
/* Effects */
/* Colors */
/* Font */
/* Effects */
/*declaring basic style*/
html {
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  position: relative;
  min-height: 100%; }

h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", sans-serif; }

h1 {
  font-size: 3.142em; }

h2 {
  font-size: 1.942em; }

.h2 {
  font-family: "Helvetica Neue", sans-serif;
  padding-bottom: 30px;
  margin-top: 0;
  color: #4E5166; }

p {
  line-height: 1.7;
  padding-bottom: 40px; }

/*end of declaring basic style*/
/*helper classes*/
.bg-white {
  background: #FFFFFF; }

.bg-blue {
  background: #4E5166;
  color: #FFFFFF; }

.bg-pale-blue {
  background: #EDEEF0; }

.no-padding-picture {
  padding: 0;
  margin: 0; }

.img-responsive {
  width: 100%; }

/*end of helper classes*/
/*offset for fixed nav and hero section post etc*/
.page-padding {
  /*to fix fixed top style of navbar*/
  padding-top: 7em;
  padding-bottom: 3em; }

.padding-top {
  padding-top: 60px; }

.padding-bottom {
  padding-bottom: 60px; }

/*end of offset for fixed nav and hero section*/
.bottom-space {
  margin-bottom: 70px; }

.size {
  font-size: 20em; }

.horizontal-rule {
  width: 550px;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #BDC6B8;
  align-self: center; }

/* Colors */
/* Font */
/* Effects */
/*navbar styles*/
.navbar-fixed-top {
  min-height: 80px;
  border: 0;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5); }

.navbar-nav > li > a, .navbar-fixed-top .navbar-header {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 80px; }

.navbar-default .navbar-nav > li > a {
  color: #4E5166;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #4E5166;
  color: #fff; }

.navbar-fixed-top .navbar-header .navbar-toggle {
  margin-top: 13px;
  border: 0; }

.navbar-fixed-top .navbar-header .navbar-toggle:hover,
.navbar-fixed-top .navbar-header .navbar-toggle:focus {
  background: none; }

.navbar-fixed-top .navbar-header .navbar-toggle .icon-bar {
  height: 3px;
  background: #4E5166; }

.navbar-fixed-top .navbar-header .navbar-toggle:hover .icon-bar,
.navbar-fixed-top .navbar-header .navbar-toggle:focus .icon-bar {
  background: #7BE5A0; }

@media (max-width: 767px) {
  .navbar-nav > li > a, .navbar-fixed-top .navbar-header {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0; }
  .navbar-fixed-top .navbar-header .navbar-brand {
    margin-top: -9px; } }

/*end of navbar styles*/
.beta-tag {
  color: #7BE5A0; }

/* Colors */
/* Font */
/* Effects */
/*style for the hero content*/
@media (max-width: 767px) {
  section .grid > div {
    margin-top: 60px;
    margin-bottom: 100px; } }

.hero-top {
  margin-top: -75px; }

#hero-content {
  display: table;
  position: absolute;
  z-index: 1;
  height: inherit;
  height: 100vh;
  margin-left: 225px;
  transform: translateY(8%);
  color: #7BE5A0;
  text-align: center; }

#hero-content-centered {
  display: table-cell;
  vertical-align: middle;
  color: #FFFFFF;
  width: 800px; }

.hero-headline {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 4.25em;
  font-style: italic;
  text-shadow: 2px 2px 2px #2E2B2B;
  color: #7BE5A0;
  letter-spacing: 1px; }

.hero-copy {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  margin-top: 1em;
  margin-left: 75px; }

/*Making full page carousel*/
.carousel {
  height: 100vh;
  position: relative;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5); }

.carousel-image {
  filter: brightness(0.5);
  background-color: rgba(255, 255, 255, 0.2); }

.carousel-inner {
  overflow: hidden; }

.carousel-inner .item img {
  width: 100%;
  height: 100vh; }

@media (max-aspect-ratio: 3 / 4) {
  .carousel-inner .item img {
    display: none; } }

@media (max-aspect-ratio: 1 / 1) {
  .carousel-inner .item img {
    width: 100%;
    object-fit: none;
    object-position: center; } }

/*end of full page carousel*/
#explore-stories {
  font-size: 3.142em;
  color: #FFFFFF;
  position: absolute;
  top: 85%;
  left: 0;
  z-index: 1;
  -webkit-transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }

#explore-stories:hover {
  -webkit-transform: translateY(10px);
  transform: translateY(10px); }

/*end of hero content styling*/
/*button styles*/
.cs-btn-blue {
  border-radius: 0;
  padding: 12px;
  background: #4E5166;
  color: #7BE5A0;
  border: 2px solid #4E5166;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-blue:hover,
.cs-btn-blue:focus {
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0; }

.cs-btn-blue-outline {
  border-radius: 0;
  padding: 12px;
  background: transparent;
  color: #4E5166;
  border: 2px solid #4E5166;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-blue-outline:hover,
.cs-btn-blue-outline:focus {
  background: #4E5166;
  color: #7BE5A0;
  border: 2px solid #4E5166; }

.cs-btn-green {
  border-radius: 0;
  padding: 12px;
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-green:hover,
.cs-btn-green:focus {
  background: #4E5166;
  color: #7BE5A0;
  border: 2px solid #4E5166; }

.cs-btn-green-outline {
  border-radius: 0;
  padding: 12px;
  background: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-green-outline:hover,
.cs-btn-green-outline:focus {
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0; }

.cs-btn-green-inverted {
  border-radius: 0;
  padding: 12px;
  background: #FFFFFF;
  color: #4E5166;
  border: 2px solid #FFFFFF;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-green-inverted:hover,
.cs-btn-green-inverted:focus {
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0; }

/*end of button styles*/
/* Colors */
/* Font */
/* Effects */
.home-controls {
  position: relative;
  z-index: 999; }
  .home-controls .left-control {
    left: -100px; }
  .home-controls .right-control {
    right: -100px; }
  .home-controls .btn {
    position: absolute;
    top: 30px;
    padding: 0 8px;
    padding-bottom: 12px;
    margin: 0px 12px;
    font-size: 48px; }

.bottom-buttons {
  width: 100%;
  padding-bottom: 200px; }

@media (max-width: 768px) {
  .home-controls .left-control {
    left: -10px; }
  .home-controls .right-control {
    right: -10px; } }

@media (max-width: 767px) {
  .bottom-buttons {
    display: none; }
  .home-controls .btn {
    font-size: 24px;
    padding-bottom: 6px;
    top: -10px; } }

@media (max-width: 1280px) {
  .home-controls .left-control {
    left: -95px; }
  .home-controls .right-control {
    right: -95px; } }

section .grid > div {
  margin: 2em auto; }

/*card styles*/
.grid-item a {
  text-decoration: none; }

.thumbnail {
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0px 0px 30px -5px rgba(184, 186, 194, 0.75); }

.thumbnail > img {
  width: 100%;
  max-height: 1000px;
  max-height: 100vh;
  display: block; }

.thumbnail .card-title {
  border-bottom: solid 1px #eee; }

.no-border-bottom .card-title {
  border-bottom: 0 !important; }

.thumbnail h3 {
  color: #7BE5A0; }

.thumbnail h3 {
  margin: 0;
  padding: 10px 10px; }

.thumbnail h4 {
  color: #7BE5A0; }

.thumbnail h4 {
  margin: 0;
  padding: 10px 10px; }

.card-description {
  margin: 0;
  padding: 10px 10px;
  font-size: 0.9em;
  line-height: 1.5; }

.caption .cs-btn-green {
  margin: 10px 10px; }

.thumbnail p {
  padding-top: 10px; }

.card-title .card-info {
  font-size: 0.65em;
  line-height: 1.35;
  padding: 0px 10px 10px 10px;
  margin-bottom: 5px; }

.card-title .status {
  font-size: 0.65em;
  line-height: 1.35;
  padding: 0px 10px 10px 10px; }

.card-title .status .published {
  color: #7BE5A0 !important; }

.grid-item,
.grid-item-1 {
  padding-bottom: 15px; }

.card-buttons {
  color: #7BE5A0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.card-buttons:hover,
.card-buttons:focus {
  color: #4E5166; }

.glyphicon-trash,
.glyphicon-collapse-down {
  padding-left: 12px; }

.glyphicon-trash {
  color: #FF1654; }

.glyphicon-collapse-down {
  color: orange; }

/*bootstrap override*/
@media (min-width: 992px) {
  .col-md-4 {
    width: 30%;
    margin: 1.2em 1.2em; } }

/*end of card styles*/
#login-page {
  padding-bottom: 100px; }
  #login-page .panel {
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); }
  #login-page .panel-heading {
    text-align: center;
    padding-top: 18px;
    font-size: 1.2em;
    height: 61px;
    margin-bottom: 30px; }
  #login-page #login-link, #login-page #register-link {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; }
  #login-page #register-link,
  #login-page #login-link {
    color: #4E5166; }
  #login-page .active {
    color: #7BE5A0 !important;
    margin-right: 15px; }
  #login-page form {
    display: block; }
  #login-page .panel-login input[type="text"],
  #login-page .panel-login input[type="email"],
  #login-page .panel-login input[type="password"] {
    height: 40px;
    font-size: 16px; }
  #login-page #login-submit,
  #login-page #register-submit {
    background-color: #4E5166;
    text-decoration: none;
    color: #fff !important;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0; }
  #login-page #login {
    margin-top: 32px; }

/*footer styles*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

footer p {
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-size: 11px;
  letter-spacing: 1px; }

.bg-blue a {
  color: #fff;
  text-decoration: underline;
  transition: color 0.3s ease-out; }

.bg-blue a:hover {
  color: #7BE5A0; }

@media (max-width: 768px) {
  footer p {
    font-size: 10px; } }

/*end of footer styles*/
/* Colors */
/* Font */
/* Effects */
/*form styles*/
.content-page {
  width: 800px;
  margin: 0 auto; }
  .content-page .form-group {
    padding-bottom: 15px; }

.story-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto; }

.control-label {
  font-size: 100%;
  padding-bottom: 15px;
  color: #4E5166; }

.form-control {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-color: #b8bac2;
  font-size: 14px; }

.form-control:focus {
  box-shadow: 0px 0px 30px -5px rgba(184, 186, 194, 0.75);
  border-color: #FFFFFF; }

.admin-btn {
  margin-left: 18px; }

.text-danger {
  margin-left: 6px;
  margin-top: 6px;
  color: #FF1654;
  font-size: 12px; }

/*end of form styles*/
/* Colors */
/* Font */
/* Effects */
/*tab styles*/
.tab-content {
  padding-top: 30px; }

h4 {
  color: #4E5166;
  padding: 15px 0;
  margin-top: 0; }

.tab-pane .row .col-md-4 {
  padding-bottom: 15px; }

#tabs .nav-tabs li > a {
  border: none;
  border-bottom: 2px solid #b8bac2;
  color: #4E5166 !important;
  transition: color 0.3s ease-out; }

#tabs .nav-tabs li > a:hover,
#tabs .nav-tabs li > a:focus {
  border: none;
  border-bottom: 2px solid #7BE5A0;
  color: #7BE5A0;
  background: transparent; }

#tabs .nav-tabs .active a {
  border: none;
  border-bottom: 2px solid #7BE5A0;
  color: #7BE5A0; }

#tabs .nav-tabs .active a:focus,
#tabs .nav-tabs .active a:hover {
  border: none;
  border-bottom: 2px solid #7BE5A0;
  color: #7BE5A0;
  cursor: pointer;
  background: #FFFFFF; }

.user-list {
  box-shadow: 0px 0px 30px -5px rgba(184, 186, 194, 0.75);
  margin-bottom: 30px; }

.user-list h4 {
  color: #4E5166;
  margin: 15px; }

.pagination {
  margin: 100px 30em 0 30em; }

.add-user,
.add-story {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }

.add-story {
  flex-direction: row-reverse; }

.user-icon {
  margin-right: 10px; }

.user-story {
  margin-left: 10px; }

/*end of tab styles*/
/* Colors */
/* Font */
/* Effects */
.full-story {
  background: #FFFFFF; }

.story-title-row,
.story-writer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid #BDC6B8; }

.full-story-title {
  margin-bottom: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #4E5166; }

.story-writer-row {
  justify-content: space-between;
  height: 40px;
  margin-bottom: 3em; }

.full-story-writer {
  font-size: .7em;
  margin-left: 1em; }

.full-story-content-container {
  display: flex;
  flex-direction: column; }

/*Social icons row*/
.social-buttons {
  margin-bottom: 70px;
  margin-left: 1em; }

.social-buttons .fa {
  color: #7BE5A0;
  font-size: 1.2em;
  padding: 0;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }

.social-buttons .fa:hover {
  color: #4E5166; }

/*Making wrap and video bg*/
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%; } }

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("http://touchcielo.com/alive/vid/vid.jpg") center center/cover no-repeat; }
  .fullscreen-bg__video {
    display: none; } }

/*end of wrap and video bg*/
/*style for the hero content*/
#explore-stories {
  font-size: 3.142em;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 90%;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

#explore-stories:hover {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px); }

/*end of hero content styling*/
/*button styles*/
.cs-btn-blue {
  border-radius: 0;
  padding: 12px;
  margin-bottom: 12px;
  background: #4E5166;
  color: #7BE5A0;
  border: 2px solid #4E5166;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-blue:hover {
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0; }

.cs-btn-blue-outline {
  border-radius: 0;
  padding: 12px;
  margin-bottom: 12px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-blue-outline:hover {
  background: #4E5166;
  color: #7BE5A0;
  border: 2px solid #4E5166; }

.cs-btn-green {
  border-radius: 0;
  padding: 12px;
  margin-bottom: 12px;
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-green:hover {
  background: #4E5166;
  color: #7BE5A0;
  border: 2px solid #4E5166; }

.cs-btn-green-outline {
  border-radius: 0;
  padding: 12px;
  margin-bottom: 12px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-green-outline:hover {
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0; }

.cs-btn-green-inverted {
  border-radius: 0;
  padding: 12px;
  margin-bottom: 12px;
  background: #fff;
  color: #4E5166;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase; }

.cs-btn-green-inverted:hover {
  background: #7BE5A0;
  color: #4E5166;
  border: 2px solid #7BE5A0; }

/*end of button styles*/
/*post styles*/
.post-header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.full-head {
  margin-bottom: 2em; }

.post-image {
  overflow: hidden; }

.post-text {
  word-wrap: break-word;
  margin-top: 1em; }

.post-text:first-letter {
  font-size: 4em;
  line-height: 1;
  font-weight: bold; }

.post-date {
  color: #fff;
  font-size: 1em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
  text-align: center; }

/*end of post styles*/
/*offset for fixed nav and hero section post etc*/
.top-offset-large {
  margin-top: 100vh;
  height: 300px;
  /*remove line in final*/ }

.top-offset-small {
  /*to fix fixed top style of navbar*/
  margin-top: 80px; }

.padding-top {
  padding-top: 60px; }

.padding-bottom {
  padding-bottom: 60px; }

/*end of offset for fixed nav and hero section*/
/* Colors */
/* Font */
/* Effects */
.about-row {
  display: flex;
  flex-direction: column;
  align-items: center; }

.img-campfire-banner {
  display: table-cell;
  max-width: 705px;
  max-height: 216px;
  width: 100%;
  height: auto;
  padding-bottom: 2em; }

.about-section-1,
.about-section-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%; }

.about-section-1 {
  margin-top: 1em; }

.heading {
  font-weight: 700;
  font-style: italic;
  font-family: "Helvetica Neue", sans-serif;
  color: #4E5166; }
